.card-body .title {
    text-decoration: none;
    color: black;
}

.card-body .title:hover {
    text-decoration: underline;
    color: #333;
}

.card {
    padding: 0;
}

.card img {
    width: 100%;
}

.delete-form {
    display: inline;
}